name: Run Playwright Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  ui-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Build project
        run: mvn -B package

      - name: Install npm dependencies
        run: npm ci

      - name: Install Playwright browsers
        run: npx playwright install

      - name: Start server and wait for port
        run: mvn spring-boot:run &
          
          wait-port -h localhost -p 8080 -t 20000
        shell: bash

      - name: Check if server is up
        run: curl -v http://localhost:8080/balance || true

      - name: Run Playwright tests
        run: npx playwright test

